.main {
  margin: 0px auto;
  width: 95%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header header "
    "container container container container "
    "container container container container "
    "container container container container "
    "container container container container "
    "container container container container "
    "footer footer footer footer ";
}

.header {
  max-height: 150px;
  min-height: 150px;
  grid-area: header;
  background-color: #e9ecef;
  color: #ffffff;
}

.footer {
  width: 100%;
  grid-area: footer;
  background-color: #f8f9fa;
  color: #343a40;
}

.container-p {
  width: 100%;
  background-color: #ffffff;
  color: #333333;
  grid-area: container;
}

@media (max-width: 768px) {
  .header {
    max-height: 200px;
    min-height: 200px;
  }
}
